 /* testando e definindo cores nos paragrafos
p {
    color: blue;
    background-color: yellow;
}

p {
    text-align: left;  identar a esquerda 
    line-height: 30px;   tamanho da altura de cada linha 
    letter-spacing: 3px;  tamanho do espaço entre cada letra 
    word-spacing: 5px;   tamanho do espaço entre cada palavra 
    text-indent: 30px;   tamanho da margem da primeira linha do texto 
}

  definindo a fonte 
body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

  definindo as bordas 
body {
    border: 1px solid red;
}

  deixando o fundo ridículo 
body {
    background: gold;
    }

h1 {
    background-image: url(../img/sobre-background.jpg);
}  */